{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="row justify-content-center">
		<div class="col-12 col-md-10 col-lg-8">
			<form class="card card-sm">
				<div class="card-body row no-gutters align-items-center">
					<div class="col-auto">
						<i class="fas fa-search h4 text-body"></i>
					</div>
					<!--end of col-->
					<div class="col">
						<input class="form-control form-control-lg form-control-borderless" type="search" name="searchterm" id="searchterm" placeholder="Search Products">
					</div>
					<!--end of col-->
					<div class="col-auto">
						<button class="btn btn-lg btn-success" type="submit">Search</button>
					</div>
					<!--end of col-->
				</div>
			</form>
		</div>
		<!--end of col-->
	</div>
	<div class="row">	
		{% for product in products %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn update_cart" data-product="{{product.id}}" data-action="add">Add to Cart</button>
				<a class="btn btn-outline-success" href="{% url 'viewproduct' id=product.id %}">View</a>
				<h4 style="display: inline-block; float:right"><strong>${{product.price}}</strong></h4>

			</div>
		</div>
		{% endfor %}
	
	</div>
{% endblock content %}