{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!-- <div class="row justify-content-center">
	<div class="col-12 col-md-10 col-lg-8">
		<form method="get" class="form-inline">
			{{ filter_form.non_field_errors }}
			<div>
				<label class="form-control" for="{{ filter_form.category.id_for_label }}">Category:</label>
				{{ filter_form.category }}
			</div>
			<div>
				<label class="form-control" for="{{ filter_form.min_price.id_for_label }}">Min Price:</label>
				{{ filter_form.min_price }}
			</div>
			<div>
				<label class="form-control" for="{{ filter_form.max_price.id_for_label }}">Max Price:</label>
				{{ filter_form.max_price }}
			</div>
			<button type="submit" class="btn btn-primary">Apply Filters</button>
		</form>
	</div>
	</div> -->	
	<div class="row justify-content-center">
		<div class="col-12 col-md-10 col-lg-8">
			<form class="card card-sm">
				<div class="card-body row no-gutters align-items-center">
					<div class="col-auto">
						<i class="fas fa-search h4 text-body"></i>
					</div>
					<!--end of col-->
					<div class="col">
						<input class="form-control form-control-lg form-control-borderless" type="search" name="searchterm" id="searchterm" placeholder="Search Products">
					</div>
					<!--end of col-->
					<div class="col-auto">
						<button class="btn btn-lg btn-success" type="submit">Search</button>
					</div>
					<!--end of col-->
				</div>
			</form>
		</div>
		<!--end of col-->
	</div>
	<div class="row">
		<div class="sidebar col-lg-2">
			
				<div class="sidebar">
					<!-- Category Filter -->
					<form method="get">
					<div class="card mb-3">
					
						{{ filter_form.non_field_errors }}
						<div class="card-header">
							<label class="" for="{{ filter_form.category.id_for_label }}">category:</label>
						</div>
						<div class="card-body">
						
							<ul class="list-group">                            
								{{ filter_form.category }}
								<!-- Add more categories -->
							</ul>
						</div>
					</div>
					<!-- Price Range Filter -->
					<div class="card mb-3">
						<div class="card-header">
							Price Range
						</div>
						<div class="card-body">
							<label class="" for="{{ filter_form.min_price.id_for_label }}">Min Price:</label>
							{{ filter_form.min_price }}
							<label class="" for="{{ filter_form.max_price.id_for_label }}">Max Price:</label>
							{{ filter_form.max_price }}
						</div>
					</div>
					<div class="card mb-3">
						<div class="card-header">
						   
						</div>
						<div class="card-body">
						   <button type="submit" class="btn btn-primary">Apply Filters</button>
					
						</div>
					</div>
				</form>
				</div>
			
		</div>
		<div class="row col-lg-10">
		{% for product in products %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn update_cart" data-product="{{product.id}}" data-action="add">Add to Cart</button>
				<a class="btn btn-outline-success" href="{% url 'viewproduct' id=product.id %}">View</a>
				<h4 style="display: inline-block; float:right"><strong>${{product.price}}</strong></h4>

			</div>
		</div>
		{% endfor %}
		</div>
	
	</div>
{% endblock content %}